﻿<form name="personForm">
<div class="modal fade" id="personModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="person.closeModal()" 
                        aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="myTable">
                    <div class="myTableRow">
                        <div class="myTableCell">
                            <label>
                                First Name
                                <span class="error" ng-show="personForm.firstname.$error.required"><i class="fa fa-hand-o-left"></i></span>
                                <span class="success" ng-hide="personForm.firstname.$error.required"><i class="fa fa-check-square-o"></i></span>
                            </label>
                            <input type="text" name="firstname" class="form-control" ng-model="person.currentPerson.firstname" required="required"/>
                            <label>
                                Surname
                                <span class="error" ng-show="personForm.surname.$error.required">
                                    <i class="fa fa-hand-o-left"></i>
                                </span>
                                <span class="success" ng-hide="personForm.surname.$error.required">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                            </label>
                            <input type="text" name="surname" class="form-control" 
                                   ng-model="person.currentPerson.surname" required="required"/>
                            <label>
                                Gender
                                <span class="error" ng-show="personForm.gender.$error.required">
                                    <i class="fa fa-hand-o-left"></i>
                                </span>
                                <span class="success" name="gender" ng-hide="personForm.gender.$error.required">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                            </label>
                            <select ng-model="person.currentPerson.gender" 
                                    name="gender" class="form-control input-sm" required="required">
                                <option value="">--Please select--</option>
                                <option value="Male">Male</option>
                                <option vaue="Female">Female</option>
                            </select>
                            <label>
                                Email Address
                                <span class="error" ng-show="personForm.email.$error.required || personForm.email.$error.email">
                                    <i class="fa fa-hand-o-left"></i>
                                </span>
                                <span class="success" ng-hide="personForm.email.$error.required">
                                    <i class="fa fa-check-square-o"></i>
                                </span>
                            </label>
                            <input type="email" name="email" class="form-control"
                                    ng-model="person.currentPerson.emailAddress" required="required"/>
                            <label>
                                Phone Number
                                @* phone no validation missing  sorry run out of time*@
                            </label>
                            <input type="number" class="form-control" ng-model="person.currentPerson.phoneNumber" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" ng-click="person.closeModal()">Close</button>
                <button type="button" class="btn btn-info"
                         ng-disabled="personForm.$invalid"
                        ng-click="person.updatePerson(person.currentPerson)"
                        ng-show="person.update">
                    Update
                </button>
                <button type="button" class="btn btn-info"
                         ng-disabled="personForm.$invalid"
                        ng-click="person.addPerson(person.currentPerson)"
                        ng-show="!person.update">
                    Add New
                </button>
            </div>
        </div>
    </div>
</div>
    </form>