﻿
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<div class="container">
            <div ng-app="testApp">
                <div ng-controller="PersonCtrl as person">
                    <div growl></div>
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-info btn-xs" ng-click="person.enableAddPerson()">Add New</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="myTable">
                                <div class="myTableRow">
                                    @*<div class="myTableHeading">*@
                                    <div class="myTableHead">
                                        Actions
                                    </div>
                                    <div class="myTableHead">
                                        Full Name
                                    </div>
                                    <div class="myTableHead">
                                        Gender
                                    </div>
                                    <div class="myTableHead">
                                        Email Address
                                    </div>
                                    <div class="myTableHead">
                                        Phone Number
                                    </div>
                                    @*</div>*@
                                </div>
                                <div class="myTableRow" ng-repeat="individual in person.allPersons">
                                    @*<div class="myTableBody">*@
                                    <div class="myTableCell">
                                        <button class="btn btn-primary btn-xs" ng-click="person.getPerson(individual.personId)">Edit</button>

                                    </div>
                                    <div class="myTableCell">
                                        {{individual.firstname}} {{individual.surname}}
                                    </div>
                                    <div class="myTableCell">
                                        {{individual.gender}}
                                    </div>
                                    <div class="myTableCell">
                                        {{individual.emailAddress}}
                                    </div>
                                    <div class="myTableCell">
                                        {{individual.phoneNumber}}
                                    </div>
                                    @*</div>*@
                                </div>

                            </div>
                            @Html.Partial("_ViewPersonModal")
                        </div>
                    </div>

                </div>
    </div>
</div>