﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Table div styles*/
.myTable {
    display: table; 
    width: 100%;
}

.myTableRow {
    display: table-row;
}

.myTableHeading {
    display: table-header-group;
    background-color: #ddd;
        font-weight: bold;
}

.myTableCell {
    display: table-cell;
    padding: 3px 10px;
}

.myTableHead {
    display: table-cell;
    padding: 3px 10px;
    /*border: 1px solid #999999;*/
    font-weight:bold
}

.myTableBody {
    display: table-row-group;
}

.success {
    color: green;
}

.error {
    color: red;
}

